.App {
  text-align: center;
}

body {
  font-family: 
  'nanumsquare';
}

.black-nav {
  background:black;
  width: 100%;
  display: flex;
  color: white;
  padding: 15px;
  font-weight: 500;
  font-size: 25px;
}

.leftdiv { 
  background:white;
  width: 10%;
  height: 1000px;
  float: left; 
}  

.rightdiv { 
  background:bisque;
  width: 90%;
  height: 1000px;
  float: left; 
} 

.s-topbar, .s-topbar * {
  box-sizing: border-box;
}
body *, body *:before, body *:after {
  box-sizing: inherit;
}

.s-topbar .s-topbar--searchbar .s-topbar--searchbar--input-group .s-input {
  border-color: var(--theme-topbar-search-border);
  background-color: var(--theme-topbar-search-background);
  box-shadow: var(--theme-topbar-search-shadow);
  color: var(--theme-topbar-search-color);
  display: block;
  line-height: 1.15384615;
}
.s-input.s-input__search, .s-input.s-input__creditcard {
  padding-left: 32px;
}

.s-input, .s-textarea {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  padding: 0.6em 0.7em;
  border: 1px solid var(--bc-darker);
  border-radius: 3px;
  background-color: var(white);
  color: var(fc-dark);
  font-size: 13px;
  font-family: inherit;
  scrollbar-color: var(--scrollbar) transparent;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.left-sidebar--sticky-container:not(.left-sidebar__fake-sticky) {
  position: -webkit-sticky;
  position: sticky;
  width: auto;
  top: 0;
  margin-bottom: 8px;
  max-height: calc(100vh);
  overflow-y: auto;
  scrollbar-color: var(--scrollbar) transparent;
  top: var(--top-bar-allocated-space);
  max-height: calc(100vh - var(--top-bar-allocated-space));
}

.left-sidebar--sticky-container {
  position: fixed;
  width: 164px;
  padding-top: 24px;
}

.left-sidebar, .left-sidebar *, .left-sidebar *:after, .left-sidebar *:before {
  box-sizing: border-box;
}

.d-flex {
  display: flex !important;

}

#content {
  max-width: 1100px;
  width: calc(100% - 164px);
  background-color: var(--theme-content-background-color);
  border-radius: 0;
  border: 1px solid var(--theme-content-border-color);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 0;
  padding: 24px;
  box-sizing: border-box;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: whitesmoke;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.left-sidebar, .left-sidebar *, .left-sidebar *:after, .left-sidebar *:before {
  box-sizing: border-box;
}
.truncate {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
body *, body *:before, body *:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
user agent stylesheet
div {
  display: block;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav-links {
  padding: 0;
  margin: 0 0 12px;
  list-style: none;
}

.nav-links .nav-links--link .-link--channel-name {
  line-height: 1.30769231;
}

.nav-links .nav-links--link.-link__with-icon {
  display: flex;
  padding: 8px 6px 8px 0;
}

.nav-links .youarehere .nav-links--link {
  font-weight: bold;
  background: var(--black-050);
  color: var(--black-900);
  border-right: 3px solid var(--theme-primary-color);
}
.nav-links .nav-links--link, .nav-links .nav-links--link:visited {
  color: var(--black-600);
}
.nav-links .nav-links--link {
  display: block;
  padding: 4px;
  padding-left: 30px;
  line-height: 2;
  font-size: 13px;
}
.left-sidebar, .left-sidebar *, .left-sidebar *:after, .left-sidebar *:before {
  box-sizing: border-box;
}
.tt-uppercase {
  text-transform: uppercase !important;
}
.fc-light {
  color: var(--fc-light) !important;
}
.fs-fine {
  font-size: 11px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.mt16 {
  margin-top: 16px !important;
}
.pl8 {
  padding-left: 8px !important;
}
a {
  color: var(--theme-link-color);
  text-decoration: none;
  cursor: pointer;
}
a, .s-link {
  text-decoration: none;
  color: var(--theme-link-color);
  cursor: pointer;
  user-select: auto;
}

body *, body *:before, body *:after {
  box-sizing: inherit;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
